%h1 Listing waters

%table
  %thead
    %tr
      %th  title
      %th Description
      %th
      %th
      %th
      
  %tbody
    - @waters.each do |water|
      %tr
        %td= water. title
        %td= water.description
        %td= link_to 'Show', water
        %td= link_to 'Edit', edit_water_path(water)
        %td= link_to 'Destroy', water, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Water', new_water_path
